

.personal-center{
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 140rpx;
  .personal-center_ticket--wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 32rpx;
    padding: 29rpx 68rpx 29rpx 29rpx;
    margin-top: 20rpx;
    border: 1px solid #F9F9F9;
    box-shadow: 0 4rpx 8rpx 0 rgba(110,93,74,0.05);
    border-radius: 20rpx;
    .personal-center_ticket--item{
      width: 238rpx;
      h3{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 34rpx;
        color: #333333;
        img{
          width: 11rpx;
          height: 19rpx;
        }
      }
      p{
        margin-top: 16rpx;
        font-size: 40rpx;
        color: #E72935;
      }
    }
  }                                                                

  .personal-center_icons{
    // 使用网格布局grid
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    justify-content: space-between;
    grid-row-gap: 36rpx;

    padding: 30rpx;
    margin: 35rpx 32rpx 0;

    box-sizing: border-box;
    border: 1px solid #F9F9F9;
    box-shadow: 0 4rpx 8rpx 0 rgba(110,93,74,0.05);
    border-radius: 20rpx;
    .person-center_nativage{
      img{
        width: 60rpx;
        height: 60rpx;
      }
      p{
        font-size: 28rpx;
        color: #333;
        margin-top: 22rpx;
      }
    }
  }
}
